/*fonts*/
/*
@font-face { 
    font-family: primary-title;
    src: url('../public/assets/fonts/pinion/PinyonScript-Regular.ttf')
}
@font-face { 
    font-family: primary-body;
    src: url('../public/assets/fonts/BitterPro-Light.ttf')
}
@font-face { 
    font-family: primary-subtitle;
    src: url('../public/assets/fonts/BitterPro-Bold.ttf')
}
@font-face { 
    font-family: primary-extrabold;
    src: url('../public/assets/fonts/BitterPro-ExtraBold.ttf')
}
@font-face {
    font-family: primary-semibold;
    src: url('../public/assets/fonts/BitterPro-SemiBold.ttf')
}
@font-face {
    font-family: curvy;
    src: url('../public/assets/fonts/Fasthand-Regular.ttf')
}
*/
@font-face { 
    font-family: primary-title;
    src: url('/assets/fonts/pinion/PinyonScript-Regular.ttf')
}
@font-face { 
    font-family: primary-body;
    src: url('/assets/fonts/BitterPro-Light.ttf')
}
@font-face { 
    font-family: primary-subtitle;
    src: url('/assets/fonts/BitterPro-Bold.ttf')
}
@font-face { 
    font-family: primary-extrabold;
    src: url('/assets/fonts/BitterPro-ExtraBold.ttf')
}
@font-face {
    font-family: primary-semibold;
    src: url('/assets/fonts/BitterPro-SemiBold.ttf')
}
@font-face {
    font-family: curvy;
    src: url('/assets/fonts/Fasthand-Regular.ttf')
}

